<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google" value="notranslate">
    <link rel="shortcut icon" href="/static/sb-logo.svg">
    <title>Science Box</title>
  </head>
  <body>
  </body>
</html>
